@import url('../../../assets/lennon-icons-v1.0/style.css');

:host {
    --margin-bottom: 16px;
}

section {
    border-radius: 25px;
    background-color: var(--card-color);
    display: grid;
    grid-template-areas: 'icon info action';
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr auto;
    padding: 16px 16px;
    align-items: center;
    justify-items: center;
    margin-bottom: var(--margin-bottom);
    grid-gap: 16px;
    div {
        &.icon {
            grid-area: icon;
            i {
                color: var(--base-color);
                font-size: 32px;
            }
        }
        &.info {
            grid-area: info;
            justify-self: flex-start;
            h1 {
                margin: 0;
                padding: 0;
                color: var(--darker-text-color);
                font-size: 18px;
                font-weight: 900;
                font-family: var(--font-family);
            }
            p {
                margin: 0;
                padding: 0;
                color: var(--medium-text-color);
                font-size: 14px;
                font-weight: 500;
                font-family: var(--font-family);
            }
        }
        &.action {
            grid-area: action;
            justify-self: flex-start;
            ion-toggle {
                padding: 16px;
                grid-area: action;
                align-self: flex-end;
                --background-checked: #fee0cf;
                --handle-background-checked: #f8843c;
            }
        }
    }
}